<div class="row sign-up-form">

    <div class="col s6 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"> Name: <%= @students.name %></span>

          <p>Email: <%= @students.email %></p>
                    <p>Course Enrollments: <% if @students.courses.empty? %>
                         None
                    <%else %>
                      <ul>
                        <% @students.courses.each do |course| %>
                        <li> <%= course.name %></li>
                          <%end %>

                      </ul>
                      <%end %>

                    </p>
        </div>

      </div>
      <% if current_user == @students %>
      <%= link_to '<i class="material-icons right">create</i> Edit your profile'.html_safe, edit_student_path(@students), class: "waves-effect waves-light btn" %>
      <%end %>
    </div>



</div>
